# 9th July --- Friday---- Assignment 9---- 
question1.

Q-1> Use the Faker (Links to an external site.)library to get 10000 random profiles. Using namedtuple, calculate the largest blood type, mean-current_location, oldest_person_age, and average age (add proper doc-strings).

Q-2>> Do the same thing above using a dictionary. Prove that namedtuple is faster.

In [ ]:
!pip install Faker


from collections import namedtuple
from faker import Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/e4/be/d03e305f1d879f541c23d586023ec11b124d6cc3d75a95159470754134d9/Faker-8.10.0-py3-none-any.whl (1.2MB)
     |████████████████████████████████| 1.2MB 5.0MB/s
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-8.10.0

In [ ]:
Faker.seed(0)
fake = Faker()

fp={}                            # declared a dic
profile_count=10_000

for i in range(profile_count):
  fp[i]=fake.profile()           # output dict

print(type(fp))

<class 'dict'>

In [ ]:
# step1 -  create a namedtuple header/ key/ name
# step2 -  write algo to take all values from dict to namedtuple
# step3 -  merge all namedtuples into 1 tuple
# step4 -  start calculation : alculate the largest blood type, mean-current_location, oldest_person_age, and average age

In [ ]:
# step 1
fake_profilex = namedtuple('fake_profiley', sorted(fp[0].keys()))
print(fake_profilex._fields)
# print(type(fake_profilex))     <class 'type'>        tuple
# print (fp[0].keys())
print(len(fake_profilex._fields))

('address', 'birthdate', 'blood_group', 'company', 'current_location', 'job', 'mail', 'name', 'residence', 'sex', 'ssn', 'username', 'website')
13

In [ ]:
# step 2 write algo to take all values from dict to namedtuple
 
fake_profile_tuple={}    #-------> defined/initialized as dict

for i in range (profile_count):
  fake_profile_tuple[i] = fake_profilex(**fp[i])
  print(fake_profile_tuple[i])                    # tuple

# type(fake_profile_tuple) ----> dict
type(fake_profile_tuple[0]) #----> tuple

fake_profiley(address='711 Golden Overpass\nWest Andreaville, MA 71317', birthdate=datetime.date(1944, 9, 1), blood_group='B+', company='Williams-Sheppard', current_location=(Decimal('52.958961'), Decimal('143.143712')), job='Musician', mail='tamaramorrison@hotmail.com', name='Gary Cross', residence='Unit 5938 Box 2421\nDPO AP 33335', sex='M', ssn='498-52-4970', username='leeashley', website=['http://www.rivera.com/', 'http://grimes-green.net/', 'http://www.larsen.com/'])
fake_profiley(address='30989 Anthony Roads\nNew Maria, MO 12498', birthdate=datetime.date(1908, 6, 18), blood_group='AB+', company='Carlson Group', current_location=(Decimal('15.037732'), Decimal('101.628490')), job='Producer, television/film/video', mail='martha10@hotmail.com', name='Denise Thornton', residence='09471 Erika Curve\nNorth Megan, UT 71358', sex='F', ssn='325-74-3967', username='laura56', website=['http://hill.com/', 'http://wilson.com/'])
fake_profiley(address='22584 Candice Mills\nNorth Thomas, OK 67164', birthdate=datetime.date(1981, 10, 25), blood_group='B-', company='Robbins Group', current_location=(Decimal('-20.228286'), Decimal('-142.416727')), job='Engineer, broadcasting (operations)', mail='deborah64@gmail.com', name='Jeanne Green', residence='USS Stephens\nFPO AP 13804', sex='F', ssn='216-94-1001', username='kmassey', website=['https://white-gordon.com/'])
fake_profiley(address='63812 Richard Springs Suite 503\nLake Karenhaven, CT 25464', birthdate=datetime.date(1943, 8, 17), blood_group='O+', company='Harmon-Rogers', current_location=(Decimal('30.2954115'), Decimal('23.285134')), job='Administrator, charities/voluntary organisations', mail='franklinjames@yahoo.com', name='John Hoffman', residence='9459 Jennifer Loaf Suite 109\nLake Matthew, IN 84046', sex='M', ssn='047-70-4602', username='hensontroy', website=['https://fletcher.com/'])
fake_profiley(address='87755 Timothy Squares\nSimmonsport, WA 90561', birthdate=datetime.date(2015, 3, 26), blood_group='O-', company='Alvarez Group', current_location=(Decimal('73.100442'), Decimal('171.844720')), job='Education officer, environmental', mail='samanthasims@yahoo.com', name='Timothy Parker', residence='42851 Joshua Brook Apt. 034\nStaceyshire, AZ 98691', sex='M', ssn='643-11-0358', username='turnermary', website=['https://thompson.com/', 'http://morgan-richardson.com/', 'https://www.nelson.org/', 'https://hays-anderson.com/'])
fake_profiley(address='577 Amy Forges Apt. 555\nNew Eddieview, WY 20935', birthdate=datetime.date(2015, 5, 11), blood_group='B-', company='Morton and Sons', current_location=(Decimal('-45.2837235'), Decimal('51.510024')), job='Chartered loss adjuster', mail='taguilar@hotmail.com', name='Linda Freeman', residence='8847 Kramer Station\nSouth Christopher, KS 77208', sex='F', ssn='768-29-1002', username='blittle', website=['http://www.johnson.com/', 'http://scott-davidson.com/', 'http://www.ellis.net/'])
fake_profiley(address='256 Cheryl Lights\nWilliamsfort, FL 03152', birthdate=datetime.date(1919, 11, 7), blood_group='A-', company='Marsh PLC', current_location=(Decimal('-65.6671615'), Decimal('98.098248')), job='Psychotherapist, dance movement', mail='georgedavid@yahoo.com', name='Sandra Brown', residence='0752 Misty Mount\nWilliamhaven, AZ 75719', sex='F', ssn='890-06-1088', username='olsondonald', website=['http://santana.biz/', 'http://www.mcclure.org/', 'https://snyder.com/', 'https://brown-davidson.com/'])
fake_profiley(address='16116 Jessica Burgs Suite 660\nCalhounmouth, KS 10795', birthdate=datetime.date(1952, 11, 12), blood_group='AB-', company='Reed, Reyes and Frank', current_location=(Decimal('-38.869070'), Decimal('64.528721')), job='Stage manager', mail='chad50@yahoo.com', name='Paula Wilkerson', residence='519 Kramer Crossroad Suite 418\nNorth Kimberly, MN 99672', sex='F', ssn='503-15-0986', username='hhunter', website=['http://www.scott-johnson.net/'])
fake_profiley(address='332 Watson Shore Apt. 290\nMillerland, MT 39742', birthdate=datetime.date(1962, 12, 24), blood_group='B+', company='Greer and Sons', current_location=(Decimal('2.462487'), Decimal('-41.369813')), job='Editor, magazine features', mail='jyang@hotmail.com', name='Willie Garcia', residence='03104 Norris Rapids\nPort Donald, DE 62982', sex='M', ssn='839-47-1156', username='eric22', website=['http://kennedy-carter.net/'])

__main__.fake_profiley

In [ ]:
# # step3 -  merge all namedtuples and start calculation: largest blood type, mean-current_location, oldest_person_age, and average age
            # trying to add 10_000 tuples in a single tuple by iteration
            # fake_profile_tuple[i]   current tuple

#------------------------------  WORKS !!! WOOHOOO------------
tuple_merged= ()

for i in range(profile_count):
  tuple_merged= tuple_merged+ (fake_profile_tuple[i],)
print(type(tuple_merged))                             # TUPLE
print(len(tuple_merged))                              # 5

<class 'tuple'>
9

In [ ]:
# step4 -  start calculation : calculate the largest blood type, mean-current_location, oldest_person_age, and average age

          # calculation1: oldest person age

'''-------------------------  WORKS !!!!! :D ----------------------------------------------'''

from time import perf_counter

start= perf_counter()
# birthdates = tuple([t[1] for t in tuple_merged])    # give tuple of bithdates of all profiles 
birthdates = [t[1] for t in tuple_merged]               # give list of bithdates of all profiles ----> faster than tuple
oldest=min( birthdates )
age_oldest= datetime.date.today() - oldest          # type: datetime.timedelta
end=perf_counter()
timetaken= end- start

index_oldest=birthdates.index(oldest)
oldest_person=tuple_merged[index_oldest][7]

print('bithdates',birthdates)
print('oldest', oldest)
print('age_oldest',age_oldest)
print('timetaken',timetaken )
print('oldest person is', oldest_person)

bithdates [datetime.date(1944, 9, 1), datetime.date(1908, 6, 18), datetime.date(1981, 10, 25), datetime.date(1943, 8, 17), datetime.date(2015, 3, 26), datetime.date(2015, 5, 11), datetime.date(1919, 11, 7), datetime.date(1952, 11, 12), datetime.date(1962, 12, 24)]
oldest 1908-06-18
age_oldest 41294 days, 0:00:00
timetaken 0.00012036599946441129
oldest person is Denise Thornton

In [ ]:
#calculation2: average age calculation

age= [(datetime.date.today()-t[1]) for t in tuple_merged] 
age_total= age[0]
for i in range(profile_count-1):
  age_total+= age[i+1]
age_average= age_total/ len(age)       # type:   datetime.timedelta
print('age_average',age_average)

age_average 22273 days, 2:40:00

In [ ]:
#calculation3: largest blood type-- METHOD2
def most_frequent(bloodtype):
    return max(set(bloodtype), key = bloodtype.count)
  
print(most_frequent(bloodtype))

B+

In [ ]:
#calculation4: mean-current_location

current_location = [t[4] for t in tuple_merged] 
mean_location= sum(t[0] for t in current_location)/profile_count, sum(t[1] for t in current_location)/profile_count
print('mean_location is ', mean_location)

mean_location is  (Decimal('30.2328521'), Decimal('59.4970658'))